body{
	background-color: #f6b1cd;
  text-align: center;
}

.name{
	color: #7ad3ff;
	display: inline;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 100px;
  padding-right: 800px;
}

.me{
  border-radius: 60%;
  margin-left: 20px;
  margin-bottom: 0px;
}

.page{
	color: #94c6d6;
	display: inline;
  padding: 30px;
  font-family: monospace;
}

.line{
  text-align: left;
  margin: 20px 40px 0px 40px;
  padding-top: 20px;
  background-color: white;
  height: 50px;
  width: 1350px;
  border-radius: 50px;
}

.info{
  text-align: right;
  float: left;
  margin: 50px;
}

.main-projects {
  float: right;
}

.project-1 {
  width: 400px;
  height: 400px;
  background-color: white;
  margin: 50px;
  position: unset;
  float:right;
}

.project-2 {
  width: 400px;
  height: 400px;
  background-color: white;
  margin: 50px;
  float:right;
}

.project-3 {
  width: 400px;
  height: 400px;
  background-color: white;
  margin: 50px;
  float:right;
}

.project-4 {
  width: 400px;
  height: 400px;
  background-color: white;
  margin: 50px;
  float:right;
}
